ops/nodered/flows.json
[
  {
    "id": "ton-compass-tab",
    "type": "tab",
    "label": "TON Compass",
    "disabled": false,
    "info": "TON Compass endpoints served with native HTTP In flows"
  },
  {
    "id": "tc-redirect-in",
    "type": "http in",
    "z": "ton-compass-tab",
    "name": "GET /ton-compass",
    "url": "/ton-compass",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 60,
    "wires": [["tc-redirect-fn"]]
  },
  {
    "id": "tc-redirect-fn",
    "type": "function",
    "z": "ton-compass-tab",
    "name": "Redirect to index",
    "func": "msg.statusCode = 302;\nmsg.headers = { Location: '/ton-compass/index.html' };\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 60,
    "wires": [["tc-redirect-out"]]
  },
  {
    "id": "tc-redirect-out",
    "type": "http response",
    "z": "ton-compass-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 620,
    "y": 60,
    "wires": []
  },
  {
    "id": "tc-slash-redirect-in",
    "type": "http in",
    "z": "ton-compass-tab",
    "name": "GET /ton-compass/",
    "url": "/ton-compass/",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 120,
    "wires": [["tc-slash-redirect-fn"]]
  },
  {
    "id": "tc-slash-redirect-fn",
    "type": "function",
    "z": "ton-compass-tab",
    "name": "Redirect slash to index",
    "func": "msg.statusCode = 302;\nmsg.headers = { Location: '/ton-compass/index.html' };\nmsg.payload = '';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 120,
    "wires": [["tc-slash-redirect-out"]]
  },
  {
    "id": "tc-slash-redirect-out",
    "type": "http response",
    "z": "ton-compass-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 650,
    "y": 120,
    "wires": []
  },
  {
    "id": "tc-index-in",
    "type": "http in",
    "z": "ton-compass-tab",
    "name": "GET /ton-compass/index.html",
    "url": "/ton-compass/index.html",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 180,
    "wires": [["tc-index-file"]]
  },
  {
    "id": "tc-index-file",
    "type": "file in",
    "z": "ton-compass-tab",
    "name": "Read index.html",
    "filename": "/home/STONfiHackathon/public/index.html",
    "filenameType": "str",
    "format": "utf8",
    "allProps": false,
    "x": 390,
    "y": 180,
    "wires": [["tc-html-headers"]]
  },
  {
    "id": "tc-html-headers",
    "type": "function",
    "z": "ton-compass-tab",
    "name": "HTML headers",
    "func": "msg.headers = {\n    'Content-Type': 'text/html; charset=utf-8',\n    'Cache-Control': 'no-store'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 180,
    "wires": [["tc-index-out"]]
  },
  {
    "id": "tc-index-out",
    "type": "http response",
    "z": "ton-compass-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 840,
    "y": 180,
    "wires": []
  },
  {
    "id": "tc-css-in",
    "type": "http in",
    "z": "ton-compass-tab",
    "name": "GET styles.css",
    "url": "/ton-compass/styles.css",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 140,
    "y": 240,
    "wires": [["tc-css-file"]]
  },
  {
    "id": "tc-css-file",
    "type": "file in",
    "z": "ton-compass-tab",
    "name": "Read styles.css",
    "filename": "/home/STONfiHackathon/public/styles.css",
    "filenameType": "str",
    "format": "utf8",
    "allProps": false,
    "x": 390,
    "y": 240,
    "wires": [["tc-css-headers"]]
  },
  {
    "id": "tc-css-headers",
    "type": "function",
    "z": "ton-compass-tab",
    "name": "CSS headers",
    "func": "msg.headers = {\n    'Content-Type': 'text/css; charset=utf-8',\n    'Cache-Control': 'public, max-age=3600'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 240,
    "wires": [["tc-css-out"]]
  },
  {
    "id": "tc-css-out",
    "type": "http response",
    "z": "ton-compass-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 840,
    "y": 240,
    "wires": []
  },
  {
    "id": "tc-js-in",
    "type": "http in",
    "z": "ton-compass-tab",
    "name": "GET app.js",
    "url": "/ton-compass/app.js",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 300,
    "wires": [["tc-js-file"]]
  },
  {
    "id": "tc-js-file",
    "type": "file in",
    "z": "ton-compass-tab",
    "name": "Read app.js",
    "filename": "/home/STONfiHackathon/public/app.js",
    "filenameType": "str",
    "format": "utf8",
    "allProps": false,
    "x": 390,
    "y": 300,
    "wires": [["tc-js-headers"]]
  },
  {
    "id": "tc-js-headers",
    "type": "function",
    "z": "ton-compass-tab",
    "name": "JS headers",
    "func": "msg.headers = {\n    'Content-Type': 'application/javascript; charset=utf-8',\n    'Cache-Control': 'public, max-age=3600'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 300,
    "wires": [["tc-js-out"]]
  },
  {
    "id": "tc-js-out",
    "type": "http response",
    "z": "ton-compass-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 840,
    "y": 300,
    "wires": []
  },
  {
    "id": "tc-icon-in",
    "type": "http in",
    "z": "ton-compass-tab",
    "name": "GET icon.svg",
    "url": "/ton-compass/assets/icon.svg",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 360,
    "wires": [["tc-icon-file"]]
  },
  {
    "id": "tc-icon-file",
    "type": "file in",
    "z": "ton-compass-tab",
    "name": "Read icon.svg",
    "filename": "/home/STONfiHackathon/public/assets/icon.svg",
    "filenameType": "str",
    "format": "utf8",
    "allProps": false,
    "x": 390,
    "y": 360,
    "wires": [["tc-icon-headers"]]
  },
  {
    "id": "tc-icon-headers",
    "type": "function",
    "z": "ton-compass-tab",
    "name": "SVG headers",
    "func": "msg.headers = {\n    'Content-Type': 'image/svg+xml',\n    'Cache-Control': 'public, max-age=3600'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 360,
    "wires": [["tc-icon-out"]]
  },
  {
    "id": "tc-icon-out",
    "type": "http response",
    "z": "ton-compass-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 840,
    "y": 360,
    "wires": []
  },
  {
    "id": "tc-manifest-in",
    "type": "http in",
    "z": "ton-compass-tab",
    "name": "GET manifest",
    "url": "/ton-compass/tonconnect-manifest.json",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 150,
    "y": 420,
    "wires": [["tc-manifest-fn"]]
  },
  {
    "id": "tc-manifest-fn",
    "type": "function",
    "z": "ton-compass-tab",
    "name": "Build manifest",
    "func": "const forwardedProto = msg.req.headers['x-forwarded-proto'];\nconst proto = Array.isArray(forwardedProto)\n    ? forwardedProto[0]\n    : (forwardedProto || (msg.req.connection && msg.req.connection.encrypted ? 'https' : 'http'));\nconst host = msg.req.headers.host;\nconst base = `${proto}://${host}/ton-compass`;\nmsg.headers = {\n    'Content-Type': 'application/json; charset=utf-8',\n    'Cache-Control': 'no-store'\n};\nmsg.payload = {\n    url: `${base}/`,\n    name: 'TON Compass',\n    iconUrl: `${base}/assets/icon.svg`,\n    termsOfUseUrl: `${base}/#project-notes`,\n    privacyPolicyUrl: `${base}/#project-notes`\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 420,
    "wires": [["tc-manifest-out"]]
  },
  {
    "id": "tc-manifest-out",
    "type": "http response",
    "z": "ton-compass-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 660,
    "y": 420,
    "wires": []
  },
  {
    "id": "tc-health-in",
    "type": "http in",
    "z": "ton-compass-tab",
    "name": "GET health",
    "url": "/ton-compass/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 130,
    "y": 480,
    "wires": [["tc-health-fn"]]
  },
  {
    "id": "tc-health-fn",
    "type": "function",
    "z": "ton-compass-tab",
    "name": "Build health",
    "func": "msg.headers = {\n    'Content-Type': 'application/json; charset=utf-8',\n    'Cache-Control': 'no-store'\n};\nmsg.payload = {\n    ok: true,\n    service: 'nodered',\n    app: 'ton-compass'\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 480,
    "wires": [["tc-health-out"]]
  },
  {
    "id": "tc-health-out",
    "type": "http response",
    "z": "ton-compass-tab",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 480,
    "wires": []
  }
]
